!!! 5
html(lang='es')
  head
    include head 
  body
    include header 
    include index
    include footer

  script(src='javascripts/antievent-site.components.js')
  script(src='javascripts/antievent-site.0.0.1.js')

  script.
    $('#container').isotope({
      // options
      itemSelector : '.isotope-item', 
      layoutMode : 'masonry'
    });
