meta(charset='utf-8')
title #theAntiEvent - Un concepto nuevo de Evento
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
link(rel='stylesheet', href='stylesheets/antievent-site.0.0.1.css')