#container
	.item.logo-item.heading
		h1 TheAntiEvent

	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item.text.heading.long
		h2 Y tu ¿Por qué quieres asistir a 
			span.strong #TheAntiEvent? 

	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")


	
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")

	.item.text.heading
		h2	Envíanos tu 
			span.strong vídeo 
			span y asiste

	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
