#container.isotope
	.isotope-item
		h1 TheAntiEvent
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
		
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
		
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
		
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video(controls)
			source(src="media/test_01.mp4", type="video/mp4")

