#container.isotope
	.isotope-item 
		video
			source(src="media/test_01.mp4", type="video/mp4")
	.isotope-item 
		video
			source(src="media/test_02.mp4", type="video/mp4")
	.isotope-item 
		video
			source(src="media/test_03.mp4", type="video/mp4")

