#container.isotope
	.item.logo-item
		h1 TheAntiEvent

	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
	.item 
		video(controls,poster="media/test_02.png")
			source(src="media/test_02.mp4", type="video/mp4")
			source(src="media/test_02.ogv", type="video/ogg")
