#container.isotope
	//.isotope-item.logo-item.heading
		h1 TheAntiEvent
		img(src="media/logo-item.png")

	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")

	.isotope-item.cl-effect-12
		
			img(src="media/test_03.png")
			.texto  
				a @nabaroa 
				br Porque sí
	.isotope-item
		.ch-item           
			.ch-info
				.ch-info-front
					img(src="http://farm8.staticflickr.com/7397/8720183950_abd925d798.jpg")
				.ch-info-back
					h3 Lorem
					p by Lorem ipsum
						a
							span.h1(href="#") Play
	//	a
			img(src="http://farm8.staticflickr.com/7397/8720183950_abd925d798.jpg")

	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")
	.isotope-item
		img(src="http://farm4.staticflickr.com/3611/4563405626_bbb1153905.jpg")

	.isotope-item.text.heading.long.big.logo
		.h1 Y tú 
		h2 ¿Por qué quieres asistir a 
			span.strong.color #TheAntiEvent? 
				.isotope-item.text.heading
		input(type="button",value="Envíanos tu vídeo y asiste")

	.isotope-item.big
		img(src="http://farm6.staticflickr.com/5212/5455551030_01fdd3cbdc.jpg")
	.isotope-item
		img(src="http://farm1.staticflickr.com/124/421794151_ddac434cd1.jpg")

	.isotope-item
		img(src="http://farm6.staticflickr.com/5048/5333312462_ffeca9b4d9.jpg")
	.isotope-item
		img(src="http://farm7.staticflickr.com/6015/5920354189_e564722964.jpg")

	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")
	.isotope-item
		img(src="http://farm7.staticflickr.com/6158/6184306158_9ab4f9e860.jpg")

	.isotope-item.big
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")
	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")

	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")
	.isotope-item.big
		img(src="http://farm7.staticflickr.com/6015/5920354189_e564722964.jpg")

	.isotope-item
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")


	
	.isotope-item.big
		img(src="http://farm5.staticflickr.com/4001/4612399323_1b1bf56462.jpg")

	
	
	
	
	
	
	
	
