/**/
@import "../modules/all";
/*debug*/

/*.isotope-item{
	border:white 1px solid !important;
}*/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a,
a code {
  color: $color;
  text-decoration: none;
}

a:hover,
a:hover code { 
  color: #4BF; 
}

a:active,
a:active code {
 /* color: #1FB;*/
  background: black;
}

.color{
	color:$color;
}