
.button {
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #8ccdae;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ccdae), color-stop(100%, #6fa88d));
  background: -webkit-linear-gradient(#8ccdae, #6fa88d);
  background: -moz-linear-gradient(#8ccdae, #6fa88d);
  background: -o-linear-gradient(#8ccdae, #6fa88d);
  background: -ms-linear-gradient(#8ccdae, #6fa88d);
  background: linear-gradient(#8ccdae, #6fa88d);
  -moz-box-shadow: #c1e4d4 0 1px 0 inset;
  -webkit-box-shadow: #c1e4d4 0 1px 0 inset;
  -o-box-shadow: #c1e4d4 0 1px 0 inset;
  box-shadow: #c1e4d4 0 1px 0 inset;
  border: 1px solid #5f9e80;
  color: white;
  text-shadow: #40936b 0 -1px 0;
}
.button:hover {
  background-color: #5f9e80;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ac5a1), color-stop(100%, #5f9e80));
  background: -webkit-linear-gradient(#7ac5a1, #5f9e80);
  background: -moz-linear-gradient(#7ac5a1, #5f9e80);
  background: -o-linear-gradient(#7ac5a1, #5f9e80);
  background: -ms-linear-gradient(#7ac5a1, #5f9e80);
  background: linear-gradient(#7ac5a1, #5f9e80);
}
.button:active {
  -moz-box-shadow: #5a9479 0 1px 2px inset;
  -webkit-box-shadow: #5a9479 0 1px 2px inset;
  -o-box-shadow: #5a9479 0 1px 2px inset;
  box-shadow: #5a9479 0 1px 2px inset;
}
