body{
	background: #222;
	color: #fff;
}



.logo-item{
	background: $color;
	color:#000;
	padding: 20px;

	a{
		display: block;
		color:#000;
		cursor:pointer;
		height: 100%;
	}

	h1{
		position: absolute;
		text-indent: -9999px;
	}
}

.isotope-item{
	/*min-height:200px;*/
	width: 200px;
	height: 200px;
	margin: 0 !important;
	text-align: center;
	/*border:1px solid #ccc;*/
	overflow: hidden;
	img{
		height: 200px;
	}
	&.text{
		padding: 20px;
	}
	&.long{
		height: 500px !important;
	}
	&.big{
		width: 400px; 
		height: 400px;
		img{
			height: 400px;
		}
	}
	&.xbig{
		width: 300px; 
		height: 300px;
		img{
			height: 300px;
		}
	}
	&.pregunta{
	text-align: left !important;
	background: url(../media/x.png) right top no-repeat; 
		.button{
			@extend %mtl;
		}

	

}

}



.icon-twitter:hover:after{
	content:"Follow us";
	font-family: $font-heading;
	font-size: .3em;
	position: absolute;
	bottom: 20px;
	left: 40px;
}

