.heading{
	font-family: 'Lato', sans-serif; 
	font-weight: 300;
} 


h1,.h1{font-size: 5em; }
h2,.h2{font-size: 3em; }
h3,.h3{font-size: 1em; }
h4,.h4{font-size: 1em; }
h5,.h5{font-size: 1em; }

.strong{font-weight: 900;}